html,
body {
    color: #000;
    font-family: "Lato", "Georgia", serif;
    height: 100%;
    margin: 0;
}

#modal {
    background-color: #fffbb5;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

#overlay a {
    color: #000;
}

#modal .modal-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}

#modal .modal {
    display: block;
    text-align: center;
    position: relative;
    width: 100%;
}

#panel-left {
    height: 100%;
    position: absolute;
    width: 70%;
}

#panel-right {
    height: 100%;
    padding: 10px;
    position: absolute;
    right: 0;
    width: 30%;
}

#overlay {
    padding: 10px 0 0 10px;
    position: absolute;
    width: 100%;
    z-index: 100;
}

#map {
    background-color: #b5d0d0;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

#panel-left h1,
#panel-left h2 {
    background: #ffff00;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#panel-left h1 {
    font-size: 90px;
    font-style: italic;
    font-weight: 900;
}

#panel-left h2 {
    font-size: 24px;
    font-style: italic;
    font-weight: 900;
}

#panel-right h2 {
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 1px;
}

#sidebar-content {
    border: 1px solid #e3e3e3;
    padding: 10px;
    height: 100%;
}

#sidebar-lots {
    margin-top: 10px;
    position: relative;
}

.input-group,
.input-group-btn,
.btn {
    border-radius: 0;
}

.btn {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    font-weight: 900;
    padding: 10px 40px;
}

.input-group-btn :hover, .input-group-btn :active {
    background: #ffff00 !important;
    border-top: 1px solid #000 !important;
    border-bottom: 1px solid #000 !important;
    border-right: 1px solid #000 !important;
}

#ui-search-bar {
    background: #000;
    border: 1px solid #000;
    border-radius: 0;
    color: #fff;
    font-style: italic;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
}

#ui-search-bar:focus{
    background: #ffff00;
    color: #000;
}

.sidebar-lots {
    overflow: scroll;
}

.lot-block {
    background: #fff;
    margin-bottom: 10px;
}

.lot-block:hover {
    background: #ffff00;
}

.lot-block .lot-data {
    display: none;
}

.lot-block .lot-name {
    display: block;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.leaflet-popup-close-button {
    display: none;
}

.leaflet-popup-content {
    font-family: "Lato", "Georgia", serif !important;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: italic;
    margin: 8px;
}

.leaflet-popup-content-wrapper {
    border-radius: 0 !important;
}

.time-icons {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    text-align: center;
    padding: 10px 0;
    margin-right: 1px;
}

.time-icon {
    height: 50px;
    width: 50px;
}

.time-icon:hover {
    opacity: 0.5;
}